# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/*.parquet
data/*.csv
data/*.json

# Environment Variables
.env

# Docker files
*.log
docker-compose.override.yml
docker-compose.override.yaml
redis_data/

# Python virtual environment
venv/
.env/
*.env

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pyre type checker
.pyre
